<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Solo Debug: anfitrión de las pruebas instrumentadas del juego (rotación, menú de pausa). -->
        <activity
            android:name="com.joelbermudez.pocketgb.debug.GameplayTestActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|navigation|uiMode|density"
            android:exported="false" />
    </application>
</manifest>
